**/.DS_Store

**/.vs
**/bin
**/obj
**/out
**/temp

# Allow everything in utils
!utils/kotlinc/**
!utils/lib/**
utils/.DS_Store
utils/lib/.DS_Store

# Prevent all unnecessary IntelliJ files
**/.gradle
**/.idea
**/.kotlin
**/build
**/gradle
gradlew
gradlew.bat
